In [6]:
"""
Q1. Create a python program to sort the given list of tuples based on integer value using a
lambda function.
[('Sachin Tendulkar', 34357), ('Ricky Ponting', 27483), ('Jack Kallis', 25534), ('Virat Kohli', 24936)]
Ans.
"""

a = [('Sachin Tendulkar', 34357), ('Ricky Ponting', 27483), ('Jack Kallis', 25534), ('Virat Kohli', 24936)]
b = lambda a : a if

In [10]:
list(print(b))

<function <lambda> at 0x7fb84c24f250>

TypeError: 'NoneType' object is not iterable

In [2]:
"""
Q2. Write a Python Program to find the squares of all the numbers in the given list of integers using
lambda and map functions.rerkrrr
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
Ans.
"""
num_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
list(map(lambda  sq_list : sq_list**2, num_list))

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [5]:
"""
Q3. Write a python program to convert the given list of integers into a tuple of strings. Use map and
lambda functions
Given String: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
Expected output: ('1', '2', '3', '4', '5', '6', '7', '8', '9', '10')
Ans.
"""

num_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
tuple(map(lambda num_list : str(num_list), num_list))

('1', '2', '3', '4', '5', '6', '7', '8', '9', '10')

In [15]:
"""
Q4. Write a python program using reduce function to compute the product of a list containing numbers
from 1 to 25.
Ans.
"""
from functools import reduce
num_range = range(1,26)
reduce(lambda a,b : a*b, num_range)

15511210043330985984000000

In [17]:
"""
Q5. Write a python program to filter the numbers in a given list that are divisible by 2 and 3 using the
filter function.
[2, 3, 6, 9, 27, 60, 90, 120, 55, 46]
Ans.
"""
num_list = [2, 3, 6, 9, 27, 60, 90, 120, 55, 46]
list(filter(lambda a : a%2 == 0 and a%3 == 0, num_list))

[6, 60, 90, 120]

In [3]:
"""
Q6. Write a python program to find palindromes in the given list of strings using lambda and filter
function.
['python', 'php', 'aba', 'radar', 'level']
Ans.
"""
words = ['python', 'php', 'aba', 'radar', 'level']

palindromes = list(filter(lambda a: a == a[::-1], words))
for word in palindromes:
    print(word)

php
aba
radar
level